/ZinemaTest.class
/SarreraTest.class
/SaioaTest.class
/InfoTest.class
/FilmaTest.class
/ErosketaTest.class
/BezeroTest.class
/AretoaTest.class
/konexioaTest.class
/ModeloTest.class
/ZinemaTest2.class
/SarreraTest2.class
