/Aretoa.class
/AretoaTest.class
/Bezero.class
/BezeroTest.class
/Erosketa.class
/Filma.class
/FilmaTest.class
/Info.class
/InfoTest.class
/Saioa.class
/Sarrera.class
/SarreraTest.class
/Zinema.class
/ZinemaTest.class
/ErosketaTest.class
/SaioaTest.class
/karteldegia.class
/vEtorria.class
/Modelo.class
/vEtorria$1$1.class
/vEtorria$1.class
/Modelo$1.class
/FilmaFroga.class
/alaitzfroga.class
/konexioa.class
/perufroga.class
/Langile.class
/LangileTest.class
